<!DOCTYPE html>
<html>
<head>
  <title>Sort index</title>
  <%= stylesheet_link_tag    "sort_index/application", media: "all" %>
  <%= javascript_include_tag "sort_index/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
